body {
      font-family: 'Sono', sans-serif;
    }
    
    .pricing-container{
      display:flex;
      justify-content: center ;
      align-items: center;
      height: 100vh;
      gap: 50px;
      

    }
    .plan-features li {
      margin-bottom: 20px;
    }
    .pricing-plan{
      text-align: center;
      background-color: rgba(227, 220, 214, 0.97);
      flex: 1;
      max-width: 400px;
      padding: 20px;
      border-radius: 5px;
    }
    .plan-button{
      background-color: rgb(255, 0, 204);
      color: white;
      border-radius: 5px;
      border:none
    }
    .plan-title{
      font-weight: bold;
    }
    .plan-price{
      font-weight: bolder;
    }
    ul>li{
      list-style-type: none;
    }



    /* Hint: What can you do with a media query and flexbox? */
    @media (max-width: 1250px) {
      .pricing-container{
      flex-direction: column;
      height: 100%;
      }
      .pricing-plan{
     
      width: 300px;
      
    }
      
    }
  </style>
